<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--
    <meta name="keywords" content="百度地图,百度地图API，百度地图自定义工具，百度地图所见即所得工具" />
    <meta name="description" content="百度地图API自定义地图，帮助用户在可视化操作下生成百度地图" />
    -->
    <title>青岛市市北区</title>
    <!--引用百度地图API-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=UfIKSDXGFGPR6EDYp7OzpHvKXQFxZP2X"></script>
  </head>
  <body>
    <!--百度地图容器-->
    <div style="width:750px;height:400px;border:#ccc solid 1px;font-size:12px" id="map"></div>
    <!--
    <p style="color:red;font-weight:600">
      <a href="http://developer.baidu.com/map/index.php?title=jspopular/guide/introduction" style="color:#2f83c7" target="_blank">了解如何申请密匙</a>
      <a href="http://lbsyun.baidu.com/apiconsole/key?application=key" style="color:#2f83c7" target="_blank">申请密匙</a>
    </p>
    -->
  <a href="/close"></a>
  </body>

  <script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
      createMap();//创建地图
      setMapEvent();//设置地图事件
      addMapControl();//向地图添加控件
      addMapOverlay();//向地图添加覆盖物
    }

    function createMap(){
      map = new BMap.Map("map");
      map.centerAndZoom(new BMap.Point(120.373993,36.093371),15);
    }

    function setMapEvent(){
      map.enableScrollWheelZoom();
      map.enableKeyboard();
      map.enableDragging();
      map.enableDoubleClickZoom()
    }

    function addClickHandler(target, index){
      target.addEventListener("click",function(){
          window.open('/video?i=' + index, '_blank');
      });
    }

    function addMapOverlay(){
      var markers = [
        {content:"camera-A",title:"敦化路-镇江北路",imageOffset: {width:0,height:3},position:{lat:36.096859,lng:120.373908}},
        {content:"camera-B",title:"和兴路-延吉路",imageOffset: {width:0,height:3},position:{lat:36.093283,lng:120.365343}},
        {content:"camera-D",title:"金坛路-金坛一路",imageOffset: {width:0,height:3},position:{lat:36.092229,lng:120.377973}},
        {content:"camera-E",title:"延安三路-北仲路",imageOffset: {width:0,height:3},position:{lat:36.089254,lng:120.36709}},
        {content:"camera-C",title:"南路口-和兴路",imageOffset: {width:0,height:3},position:{lat:36.095372,lng:120.367512}}
      ];
      for(let index = 0; index < markers.length; index++ ){
        // 读取标记的点坐标
        var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
        // 创建点标记
        var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
          imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
        })});
        // 创建标签
        var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
        // 创建信息窗口
        var opts = {
          width: 200,
          title: markers[index].title,
          enableMessage: false
        };
        var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
        marker.setLabel(label);

        addClickHandler(marker, index + 1);

        map.addOverlay(marker);
      }
    }
    //向地图添加控件
    function addMapControl(){
      var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
      scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
      map.addControl(scaleControl);
      var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:0});
      map.addControl(navControl);
      var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
      map.addControl(overviewControl);
    }
    var map;
    initMap();
  </script>
</html>